services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: ./backend
      dockerfile: dockerfile
    image: mydockerusername/finance-tracker-backend:latest
    env_file:
      - .env
    depends_on:
      - db
    command: >
       sh -c "
       until nc -z db 5432;
       do
       echo 'Waiting for postgres...';
       sleep 2;
       done;
       python manage.py migrate &&
       gunicorn config.wsgi:application --bind 0.0.0.0:8000
       "

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    image: mydockerusername/finance-tracker-frontend:latest
    depends_on:
      - web

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./frontend/build:/usr/share/nginx/html:ro
    ports:
      - "80:80"
    depends_on:
      - web
      - frontend

volumes:
  postgres_data:
