services:
  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U finance_user -d finance_db"]
      interval: 10s
      timeout: 5s
      retries: 15

  web:
   build:
    context: .
    dockerfile: Dockerfile          
   image: mydockerusername/finance-tracker-app:latest
   container_name: web
   env_file:
    - .env
   depends_on:
    db:
      condition: service_healthy     
   command: >
    sh -c "
    echo 'Waiting for Postgres...';
    for i in {1..30}; do
      pg_isready -h db -p 5432 -U finance_user -d finance_db && break;
      echo 'Postgres not ready yet...';
      sleep 2;
    done;
    echo 'Running migrations...';
    python manage.py migrate;
    echo 'Starting Gunicorn...';
    gunicorn config.wsgi:application --bind 0.0.0.0:8000
    "
   ports:
    - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile       
    image: mydockerusername/finance-tracker-frontend:latest
    container_name: frontend
    depends_on:
      - web
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: finance-nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./frontend/build:/usr/share/nginx/html:ro
    ports:
      - "80:80"
    depends_on:
      - web
      - frontend

volumes:
  postgres_data:
